html {
  font-size: 10px;
}
body {
  width: 100%;
}
.help {
  width: 100%;
  margin-top: 6.4rem;
  overflow: hidden;
}
.help img {
  width: 2.3rem;
  height: 4.2rem;
  padding-left: 3.2rem;
}
.help a {
  float: right;
  font-size: 3rem;
  color: #666666;
  padding-right: 3.2rem;
}
.logoo {
  width: 100%;
}
.logoo .logo {
  width: 25rem;
  height: 27.4rem;
  margin-left: 24.8rem;
  margin-top: 3rem;
}
.login {
  width: 100%;
  margin-top: 11.5rem;
}
.login input {
  margin-left: 7.4rem;
  height: 11.7rem;
  text-align: center;
  border: none;
  width: 60rem;
  border-bottom: 0.3rem solid #E8E8E8;
}
.login .names {
  font-size: 2.8rem;
  color: #999999;
  background: url('../imgs/login_img/login-two.png') no-repeat 55rem 4rem;
  background-size: 4.4rem 4.4rem;
}
.login .pasw {
  font-size: 2.8rem;
  color: #999999;
}
.skip {
  width: 100%;
  margin-top: 6.4rem;
}
.skip img {
  padding-left: 32.2rem;
}
.remind {
  width: 100%;
  margin-top: 18rem;
  margin-bottom: 4.6rem;
}
.remind .rem {
  margin-left: 21.8rem;
}
.remind .rem a {
  font-size: 2.6rem;
  color: #666666;
}
.remind .rem span {
  font-size: 2rem;
  padding: 0 5rem;
}
.remind p {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2.2rem;
  color: #999999;
}
.remind p a {
  color: #666666;
}
.soft {
  width: 100%;
}
.soft img {
  width: 9rem;
  height: 9rem;
  padding-right: 6.7rem;
}
.soft .img1 {
  margin-left: 17.2rem;
}
